<div class="container" id="parent_container_1">
  <div class="row" id="parent_row_2">
    <div id="parent_cols_3" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form id="my_form_4" method="post" action="confirmation.html" id="parent_my_form_4" #f="ngForm">
        <div id="parent_div_5" >
          <!-- user-data -->
          <div class="form-group" id="parent_form-group_6">
            <label for="fname">Username</label>
            <input 
            type="text" 
            id="fname" 
            class="form-control"
            ngModel
            name="fname" 
            required 
            #fname="ngModel">
            <span *ngIf="!fname.valid && fname.touched" class="help-block">Please enter a valid user name</span>
            <br/>
        </div> 
        <br/> 
          <div class="form-group">
            <label for="fmail">Mail</label>
            <input 
            type="email" 
            id="fmail" 
            class="form-control"
            ngModel 
            name="fmail" 
            required 
            email 
            #fmail="ngModel">
            <span *ngIf="!fmail.valid && fmail.touched" class="help-block">Please enter a valid email</span>
            <br/>
          </div>
        <br/>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
          id="secret" 
          class="form-control"
          ngModel
          name="secret" 
          required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
          <br/>
        </div>
        <br/>
        <div class="form-group">
          <label for="secret">Select ONE or more Country</label>
          <select 
          id="country" 
          class="form-control"
          ngModel
          name="country" 
          required
          multiple>
            <option value="india">India</option>
            <option value="uae">UAE</option>
            <option value="usa">USA</option>
            <option value="pakistan">Pakistan</option>
            <option value="bangladesh">Bangladesh</option>
            <option value="srilanka">Srilanka</option>
            <option value="france">France</option>
          </select>
          <br/>
        </div>
      </div>

      <br/>
      <button id="submit_form_id" class="btn btn-primary" type="submit" 
      [disabled] = "!f.valid" >Submit</button>
      </form>
      <br/><br/><br/><br/>
<!-- <h1>Hello, you have pressed enter {{counter}} number of times!</h1> 
Press enter key to increment the counter.
  <button (click)="resetCounter()">Reset Counter</button> -->
  <a href="http://www.google.com" id="image_href" target="_blank">
    <img id="image_href_i" src="./assets/googlelogo.png" width="50" height="50"/> 
  </a><br/><br/>

  <a href="http://www.google.com" id="HREF" target="_blank">
    www.google.com</a><br/><br/>
    
  <div id="parent2" id="parent2">
    <div id="buttons_parent_id" id="parent3">
      <button id="button_id_1" >My Button</button><br/><br/>
    </div>
  </div>


  <label for="name">Name</label>
  <input type="text" id="name" class="form-control" name="userName" 
    required ><br/><br/>

  <label for="email">Email</label>
  <input type="email" id="email" class="form-control" name="email" 
    required ><br/><br/>

    <label for="number">number</label>
    <input type="number" id="number" class="form-control" name="number" 
    required ><br/><br/>
    
    <label for="password">password</label>
    <input type="password" id="password" class="form-control" name="password" 
    required ><br/><br/>
    
    <label for="tel">tel</label>
    <input type="tel" id="tel" class="form-control" name="tel" 
    required ><br/><br/>
    
    <label for="date">date</label>
    <input type="date" id="date" class="form-control" name="date" 
    required ><br/><br/>
    
    <label for="month">month</label>
    <input type="month" id="month" class="form-control" name="month" 
    required ><br/><br/>
    
    <label for="number">number</label>
    <input type="number" id="number" class="form-control" name="number" 
    required ><br/><br/>
    
    <label for="time">time</label>
    <input type="time" id="time" class="form-control" name="time" 
    required ><br/><br/>
    
    <label for="week">week</label>
    <input type="week" id="week" class="form-control" name="week" 
    required ><br/><br/>

    <label for="address">address</label>
    <textarea id="address" class="form-control" name="address" rows="5" cols="33">
      It was a dark and stormy night...
    </textarea><br/><br/>

      <legend>Select a maintenance drone:</legend>
       <div>
        <input type="radio" id="huey" name="drone" value="huey" checked>
        <label for="huey">Huey</label>
      </div>
      <div>
        <input type="radio" id="dewey" name="drone" value="dewey">
        <label for="dewey">Dewey</label>
      </div>
      <div>
        <input type="radio" id="louie" name="drone" value="louie">
        <label for="louie">Louie</label>
      </div><br/><br/>



        <legend>Choose your monster's features:</legend>
        <div>
          <input type="checkbox" id="scales" name="scales" checked>
          <label for="scales">Scales</label>
        </div>
        <div>
          <input type="checkbox" id="horns" name="horns">
          <label for="horns">Horns</label>
        </div><br/><br/>


        <div>
        <select id="value"  name="choice">
          <option value="first">First Value</option>
          <option value="second" selected>Second Value</option>
          <option value="third">Third Value</option>
        </select>
      </div><br/><br/>


</div>
</div>
</div>